body {
	padding-top: 60px;
	padding-bottom: 40px;
	background: url('../img/grey.png') fixed;
}

a {
    color: #3b73af;
}
span.handle { cursor: move;}
h1,h2,h3,h4,h5 {
    line-height:1.25;
    font-weight: normal;
    color: #555;
}

h1 {
    font-size:24px;
}

h2 {
    font-size:20px;
}

h3 {
    font-size:18px;
}

.navbar .brand i {
    color: #E75954;
}

.hero-unit {
	border: 1px solid #DDD;
	background: #FFF;
    box-shadow: 0px 3px 10px rgba(10, 10, 10, 0.1);
}

.hero-unit p {
	font-size:20px;
	color: #666;
}

.heart {
	color: #E75954;
}

.icon-highlight {
    color: #E75954;
}

.bordered {
	padding: 20px;
    margin-bottom:20px;
	border-radius:5px;
	border:1px solid #DDD;
	background: #FFF;
    box-shadow: 0px 3px 10px rgba(10, 10, 10, 0.1);
}

#module-content {
    display:none;
}

hr {
	border-top:1px solid #DDD;
}

footer {
	margin-top:20px;
	text-align: center;
	color: #888;
}

#modules .accordion-group {
    background:#FFF;
    margin-bottom:10px;
}

#modules .accordion-heading a:hover {
    text-decoration:none;
}

#modules .accordion-group ul {
    margin:10px 0;
}

#modules .accordion-group ul li a {
    color:#666;
}

#modules .accordion-group ul li.active a,
#modules .accordion-group ul li a:hover,
#modules .accordion-group ul li.active a:hover {
    color:#666;
    background:#F9F9F9;
}

legend {
    margin-bottom:0;
}

#public-messages {
    height:350px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right:10px;
}

#public-messages .message {
    border-bottom:1px solid #EEE;
    padding:5px 0;
}

.dropdown-menu li a {
    margin: 5px 8px;
    border-radius: 5px;
    padding: 5px 15px;
}

.dropdown li a:hover {
    background: #DDD;
    color: #333;
}

.drodwon-menu li a:hover {
    background: #CCC ;
    color: #FFF;
}